:root {
  --primary: #a41d13;
  --text: #3a3335;
  --accent: #90143d;
  --day-background: white;
  --night-background: #212121;
  --surface: #92b5ab;
}

* {
  box-sizing: border-box;
}

#main-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--night-background);
  color: white;
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica,
    Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

#notes-app {
  width: 100%;
  height: 100%;
}

#notes {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  align-items: start;
}

.note {
  border: 1px solid gray;
  border-radius: 8px;
  padding-bottom: 30px;
  min-height: 180px;
  max-height: 450px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#notes .note:hover {
  box-shadow: 5px 5px rgb(53, 53, 53);
}

#header {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px black solid;
  height: 5%;
  padding: 8px;
}

.hidden {
  display: none !important;
}

#note-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  margin: 100px auto;
}

.icon {
  padding-left: 5px;
  padding-right: 20px;
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-img {
  width: 100%;
  height: 100%;
  filter: invert();
}

.buscador {
  width: 500px;
  height: 30px;
}

#searcher-container {
  margin: 10px;
}

nav.sidebar {
  width: 200px;
  background: var(--night-background);
  color: white;
  height: 95dvh;
  padding: 20px;
  border-right: 1px solid black;
}

nav.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  font-size: large;
}

nav.sidebar a:hover {
  text-decoration: underline;
}

#notes-section {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  display: flex;
  flex-direction: column;
  background-color: var(--night-background);
  width: 20%;
  height: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.input {
  background-color: var(--night-background);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  font-size: 1.65rem;
}

#description {
  font-size: 1.5rem;
  resize: none;
}

#note-form-header {
  display: flex;
  justify-content: end;
}

.title {
  font-size: 1.55rem;
  text-align: left;
  padding-left: 20px;
}

.description {
  font-size: 1.2rem;
  text-align: left;
  padding-left: 20px;
}

#full-note {
  background-color: var(--night-background);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  min-height: 200px;
  max-height: 1200px;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#full-note > div {
  flex: 1;
  overflow-y: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.footer {
  padding: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.footer p {
  margin: 0;
}

.btn {
  border-radius: 6px;
  padding: 4px 6px;
}
